* text=auto

*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.lock text eol=lf
*.example text eol=lf
*.sh text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.coveragerc text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf

*.zip binary
*.onnx binary
*.bin binary
*.pdf binary
*.xls binary
*.doc binary
